body {

background: #f4efe6;
font-family: 'Special Elite', serif;
text-align: center;
color: #3d2f1f;
margin: 0;

}

/* FILM GRAIN */

.grain {

position: fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;

background-image:url("https://grainy-gradients.vercel.app/noise.svg");

opacity:0.2;

}

/* TITLE */

h1 {

margin-top:40px;
font-size:40px;

}

/* POLAROID */

.polaroid {

display:inline-block;

background:white;

padding:15px;

box-shadow:0 10px 20px rgba(0,0,0,0.3);

margin-top:20px;

transform:rotate(-2deg);

}

.polaroid img {

width:260px;

}

.polaroid p {

margin-top:10px;

font-size:14px;

}

.bio {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
}

/* NAV BUTTONS */

.nav-buttons a {

display:inline-block;

margin:20px;

padding:12px 25px;

border:2px solid #5a4630;

text-decoration:none;

color:#3d2f1f;

background:#e8dfcf;

}

.nav-buttons a:hover {

background:#d6c8af;

}

/* FILM GALLARY */

.film-gallery {

display:flex;
justify-content:center;
gap:40px;
padding:40px;

}

.film-column {

background:#5a4630;
padding:15px;
display:flex;
flex-direction:column;
gap:20px;

}

.film-column img {

width:180px;
border:6px solid #111;

}

/* FARM LIST */

.farm-list {

list-style:none;

font-size:22px;

line-height:2;

padding:0;

}

/* BIBLE VERSE TICKER */

.verse-ticker {

position:fixed;

bottom:0;

width:100%;

background:#1c1c1c;

color:white;

overflow:hidden;

white-space:nowrap;

padding:10px 0;

}

.verse-track {

display:inline-block;

padding-left:100%;

animation:scroll 35s linear infinite;

}

.verse-track span {

margin-right:80px;

}

@keyframes scroll {

0% { transform:translateX(0); }

100% { transform:translateX(-100%); }

}